# Whitelist: only include files needed for Docker build
*

# Required by: COPY docker-entrypoint.sh /usr/local/bin/
!docker-entrypoint.sh

# Required by: COPY . /home/${user_name}/dotfiles + RUN install.sh
!install.sh
!config/

# Exclude generated/runtime files within config/
# (install.sh clones plugins fresh; completion symlinks are created at runtime)
config/zsh/plugins/
config/zsh/completion/
