# hadoint is a Dockerfile linter written in Haskell
# that helps you build best practice Docker images.
# More details at https://github.com/hadolint/hadolint

name: Hadolint

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main", "develop" ]
    paths:
      - 'Dockerfile'
      - '.hadolint.yaml'

permissions:
  contents: read

jobs:
  hadolint:
    name: Run hadolint scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        # v3 - https://github.com/actions/checkout/releases/tag/v3
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

      - name: Run hadolint
        # v2.1.0 - https://github.com/hadolint/hadolint-action/releases/tag/v2.1.0
        uses: hadolint/hadolint-action@f988afea3da57ee48710a9795b6bb677cc901183
        with:
          dockerfile: ./Dockerfile
          failure-threshold: error
